body {
    background-image: url('../img/background_resized.jpg');
}

.user-item {
    background: rgba(77, 116, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.user-content b {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
    flex-grow: 1;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

#btnNewItem {
    right: 20px;
}