<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>¡WOW , esa si que no me la esperaba!</h1>
    <p>{{errorMessage}}</p>
    <a href="/logout">Volver a la página de inicio de sesión</a>
</div>
</body>
</html>
