<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/groups.css">
        <title>Grupos</title>
    </head>
    <body>

        <div>
            <a href="/projects"><button id="btnBack"></button></a>
        </div>


        <h1>Mis Grupos</h1>

        <ul>
            {{#groups}}
                <li class="group-item" data-groupid="{{id}}">
                    <div class="group-content">
                        <b>{{name}}</b>
                        <button class="btnMoreOptions" data-groupid="{{id}}">
                            <img src="/img/menu.png" alt="Más opciones">
                        </button>
                    </div>

                    <!-- Modal de opciones -->
                    <div class="modalOptions modal hidden" id="modalOptions-{{id}}">
                        <div class="modal-content">
                            <h2>{{name}}</h2>
                            {{^isPersonal}}
                                {{#isOwner}}
                                    <button class="btnEditGroup" data-groupid="{{id}}">Editar Grupo</button>
                                    <button class="btnManageMembers" data-groupid="{{id}}">Gestionar Miembros</button>
                                    <button class="btnChangeOwner" data-groupid="{{id}}">Cambiar Propietario</button>
                                    <button class="btnDeleteGroup" data-groupid="{{id}}">Eliminar Grupo</button>
                                {{/isOwner}}
                                {{^isOwner}}
                                    <button class="btnLeaveGroup" data-groupid="{{id}}">Salir del Grupo</button>
                                {{/isOwner}}
                            {{/isPersonal}}
                        </div>
                    </div>
                </li>
            {{/groups}}
        </ul>

        <!-- Botón para crear nuevo grupo -->
        <button id="btnNewItem">Nuevo Grupo</button>

        <!-- Modal para crear nuevo grupo -->
        <div id="modalGroup" class="modal hidden">
            <div class="modal-content">
                <h2>Nuevo Grupo</h2>
                <form id="formNewGroup" action="/save_group" method="POST">
                    <label>
                        <input type="text" id="name" name="name" placeholder="Nombre del grupo" autocomplete="off" required>
                    </label>
                    <input type="hidden" name="userId" value="{{user.id}}">
                    <label>
                        <button type="submit">Guardar</button>
                    </label>
                </form>
            </div>
        </div>

        <!-- Modal para buscar y agregar usuarios -->
        <div id="modalChangeOwner" class="modal hidden">
            <div class="modal-content">
                <h2>Cambiar Propietario</h2>
                <!-- Lista de usuarios en radiobuttons -->
                <ul id="groupUsersResult"></ul>
                <button id="btnAddSelectedUser">Añadir seleccionado</button>
            </div>
        </div>

        <script src="/js/groups.js" defer></script>

    </body>
</html>
