<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
</head>
<body>
<h1>Lista de Tareas</h1>

<ul>
    <!-- Itera sobre las tareas usando Thymeleaf -->
    <li th:each="task : ${tasks}">
        <b th:text="${task.title}"></b>:
        <span th:text="${task.description}"></span>
    </li>
</ul>

<!-- Botón para agregar nueva tarea -->
<a href="/nueva-tarea"><button>Agregar Nueva Tarea</button></a>
</body>
</html>
