<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <h1>Proyectos</h1>
    <ul>
        {{#proyects}}
        <li><b>{{name}}</b></li>
        {{/proyects}}
    </ul>

    <!-- Botón para agregar nueva tarea -->
    <button id="btnNuevoProyecto">Nuevo Proyecto</button>

    <!-- Modal (Formulario) -->
    <div id="modalProyecto" class="modal">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h2>Nuevo Proyecto</h2>
            <form id="formNuevoProyecto" action="/save_proyect" method="POST">
                <input type="text" id="name" name="name" placeholder="Nombre del proyecto" required>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>
