<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project.css">
    <title>Proyecto</title>
</head>
<body>
    <h1>Lista de Tareas</h1>

    <ul>
        {{#tasks}}
            <li><b>{{title}}</b>: {{description}}</li>
        {{/tasks}}
    </ul>

    <button id="btnNewTask">Nueva Tarea</button>

    <div id="modalTask" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Nueva Tarea</h2>
            <form id="formNewTask">
                <label>
                    <input type="text" name="title" placeholder="Título" required>
                </label>
                <label>
                    <textarea name="description" placeholder="Descripción" required></textarea>
                </label>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>


    <script src="/js/project.js"></script>
</body>
</html>