<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Lista de Tareas</title>
</head>
<body>
<h1>Lista de Tareas</h1>

<ul>
    {{#tasks}}
        <li><b>{{title}}</b>: {{description}}</li>
    {{/tasks}}
</ul>

<!-- Botón para agregar nueva tarea -->
<a href="/new_task"><button>Agregar Nueva Tarea</button></a>
</body>
</html>